[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
jedi = "*"

[packages]
pygithub = "*"
requests = "*"
mistune = "*"

[requires]
python_version = "3.8"
