certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
dataclasses==0.7
Deprecated==1.2.8
greenlet==0.4.13
idna==2.9
mccabe==0.6.1
mistune==2.0.0a3
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.2.0
PyGithub==1.47
PyJWT==1.7.1
pylama==7.7.1
readline==6.2.4.1
requests==2.23.0
snowballstemmer==2.0.0
urllib3==1.26.5
wheel==0.33.6
wrapt==1.12.1
